@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "HomePage";
}
<div class="row">
   <div class="col-md-12">
            <div class="info">
                <img src="/images/8inchcut.jpg">
                <h3>8-inch + Closure</h3>
                <ul class="prop">
                    <li>Price 3 Bundles: R700.00</li>
                    <li>Grade: 10A</li>
                    <li>Size: 8-inch</li>
                    <li>Closure Only 10-inch: R250.00</li>
                    <li>Total Discount Price (3 Bundles + 10-inch Closure): R850</li>
                </ul>
                <button id="Buy">Buy</button>
            </div>

            <div id="theForm">
                <form>
                    <label>Your Name:</label>
                    <br />
                    <input />
                    <br />
                    <label>Email:</label>
                    <br />
                    <input type="email" />
                    <br />
                    <label>Subject:</label>
                    <br />
                    <input type="text" />
                    <br />
                    <label>Message:</label>
                    <br />
                    <textarea rows="4"></textarea>
                    <br />
                    <input type="submit" value="Send Message" />
                </form>
            </div>

            <div>
                <div id="log-in">Login</div>
                <form class="logForm">
                    <div>
                        <label>Username:</label>
                        <input />
                    </div>
                    <div>
                        <label>Password:</label>
                        <input type="password" />
                    </div>
                    <div>
                        <input type="checkbox" />
                        <label>Remember Me?</label>
                    </div>
                    <div>
                        <input type="submit" value="Login" />
                    </div>
                </form>
            </div>
       <div class="col-md-3"></div>
       <p>Brazillian hair site</p>
       </div>
    </div>
