h2 {
    border: 1px solid black;
} 
body {
    font-family: 'Monotype Corsiva';
    }

ul.prop {
    border: 1px solid black;
    font-size: small;
}

ul.prop li {
    list-style-type: none;
}

.info {
    border: 1px solid black;
    padding: 12px 3px;
    display: inline-block;
    margin:3px;
    width: 333px;
    background-color: whitesmoke;
    border-radius: 6px
}

.info img {
    border: 1px solid black;
    float: left;
    max-width: 150px;
}

#theForm {
    background-color: whitesmoke;
}

input, textarea {
    font-size: 18px;
    width: 180px;
}

input[type=submit] {
    width: auto; 
    background-color: pink;
    color: white;
}

label {
    width: auto;
    background-color: whitesmoke;
}

    #log-in {
        border: 1px solid black;
        cursor: pointer;
    }

    .logForm {
        padding: 5px;
        border: 1px solid black;
        display: inline-block;
    }

    logForm input{ 
        width: 200px;
    }

    .logForm label{
        width: 150px;
        display: inline-block;

    }

    .logForm input[type=checkbox], .logForm input[type=submit]{
        width:auto;
    }

    menu li{
        display: inline;
    }

    menu li::after {
        content: '|';
    }

       menu li:last-of-type::after {
            content: "";
        }
