@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Diva Hair</title>
    <link href="index.css" rel="stylesheet" />

</head>
<body>
    <section class="container">
        <h2 class="text-center">@ViewBag.Title</h2>
        @RenderBody()
    </section>
   <footer class="container">
       <div class="text-center">Copyright 2024 Diva Hair</div>
   </footer> 
</body>
</html>
